//colors
$sidebar-bg: #000 !default;
$sidebar-size: 250px !default;
$sidebar-color: $navbar-dark-color !default;
$sidebar-hover-color: $navbar-dark-hover-color !default;
$sidebar-hover-background: rgba($sidebar-hover-color, .2) !default;